.Donation_table {
    width:90%;
    margin-top: 50px;
}

.Donation_Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WorldMapCont{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction:column;
}