.Donation_table {
    width:90%;
    margin-top: 50px;
}

.Donation_Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
}

.WorldMapCont{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.Donation_listCont {
    height:47vh;
    background-color: gray;
}