.Donation_table {
    width:90%;
    margin-top: 50px;
}

.Donation_Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
}

.WorldMapCont{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.Donation_listCont {
    height:47vh;
    background-color: gray;
}

.pagination {
    margin: 20px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #0d3380 ;
    border-color:#0d3380 ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #0d3380 ;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #0d3380 ;
    border-color: #0d3380;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #0d3380
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }