.Body {
    background-color: black;
    height:100vh;
    margin-top: -11px;
}

.TopContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;/*相対配置*/
}

.TopContainer p {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 3em;/*サイズ2倍*/
    font-family :Quicksand, sans-serif;/*Google Font*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}


.EarthImage {
        height: 80vh;
        width: 100%;
        object-fit: cover;
}